#headingtable {
    height: 24px;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
}
#headingtable tr {
    width: 100%;
}
#headingtable tr td {
    width: 33%;
}
.hf {
    width: 100vw;
    height: 32px;
    padding: 4px;
    background-color: white;
}

    .hf:nth-child(1n+0) {
        width: auto;
        height: 100%;
        display: block;
        margin-left: auto;
        margin-right: auto;
        overflow: auto;
    }

#header {
    position: fixed;
    top: 0;
    width: 100vw;
    height: auto;
}

.heading-button {
    height: 64px;
}

#heading-nav {
    display: inline-block;
    margin-left: 4px;
    padding: 8px 0;
}

    #heading-nav > * {
        margin-right: 4px;
    }

#tablelabels {
    font-weight: bold;
}
    #tablelabels a {
        color: black;
        cursor: pointer;
        -moz-user-select: none; -webkit-user-select: none; -ms-user-select: none; user-select: none; -o-user-select: none;
        letter-spacing: -3px;
    }
#content-wrapper {
    margin-top: 64px;
}
body {
    background: linear-gradient(to bottom right, green, lightgreen);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    font-family: 'Exo 2', sans-serif;
}
a {
    color: #afff8c;
    font-weight: bold;
}
h1 {
    text-align: center;
}
h2 {
    text-align: center;
    font-weight: 600;
}
h3 {
    font-weight: 500;
}
.table-default {
    border-radius: 8px;
    background-color: white;
    padding: 7px;
    max-width: 75%;
}
    .table-default tr {
        border: 1px solid darkgreen;
        border-bottom: 1px solid black;
    }
        .table-default tr:last-child {
            border-bottom: none;
        }
    .table-default a {
        color: gray;
    }

/*Debug CSS
table, th, td {
    border: 1px solid black;
}*/
